
body {
  font-family: Arial;
  background: #f4f7fb;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 20px;
}

.small {
  flex: 1;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}